.color-buy{
    color: #70ad47;
}
.border-color-buy{
    border-color: #70ad47;
}
.bg-color-buy{
    background-color: #e2f0d9;
}
.color-sell{
    color: #ec7d31;
}
.border-color-sell{
    border-color: #ec7d31;
}
.bg-color-sell{
    background-color: #fbe4d6;
}
.border-color-response{
    border-color: green;
}
.color-response{
    color: green;
}