.color-buy{
    color: #74BBBE;
}
.border-color-buy{
    border-color: #74BBBE;
}
.bg-color-buy{
    background-color: #74BBBE;
}
.color-sell{
    color: #F7683A;
}
.border-color-sell{
    border-color: #F7683A;
}
.bg-color-sell{
    background-color: #F7683A;
}
.border-color-response{
    border-color: green;
}
.color-response{
    color: green;
}