body{
    max-width: 1024px;
}
.selector-for-some-widget {
    box-sizing: content-box;
}
.container-lg{
    margin: 20px;
}
.row>div{
    padding: 10px;
}
.col.splitter{
    text-align:center;
    flex: 0 0 auto;
    width: 0.5333333333%;
    line-height: 35px;
    padding-left: 0;
    padding-right: 0;
}
.market-info{
    border-left: black 1px solid;
    border-right: black 1px solid;
}
.row.price{
    border-top: black 1px solid;
}
.row.market-info > div:nth-child(1){
    border-right: black 1px solid;
    text-align: center;
}
.row.market-info > div:nth-child(2){
    text-align: right;
    padding-right: 30px;
}
.row.currency-unit{
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    margin-bottom: 20px;
}
.automatic-form{
    margin-bottom: 20px;
}
.row.auto-sell-header{
    font-size: 18px;
    border: 3px solid;
    text-align: center;
}
.row.trade-item{
    background-color: #E9ECEF;
    min-height:60px;
    font-size: 16px;
}
.row.trade-item>.col:first-child{
    border-left: black 1px solid;
    border-bottom: black 1px solid;
    border-right: black 1px solid;
}
.row.trade-item>.col{
    border-bottom: black 1px solid;
}
.row.trade-item>.col:last-child{
    border-right: black 1px solid;
}
.row.trade-item>.col>.col-form-label{
    text-align:center;
}
.row.auto-buy-header{
    font-size: 18px;
    border: 3px solid;
    text-align: center;
}
.trade-item>.btn[type="reset"],
.trade-item>.btn[type="submit"]{
    border: black 1px solid;
}

.row.manual-trade-header{
    color: black;
    background-color: grey;
    font-size: 18px;
    border: 3px solid black;
    text-align: center;
}
#btn-manual-sell-start{
    border-style: solid;
    border-width: 3px;
    margin-bottom: 1px;
}
#btn-manual-buy-start{
    border-style: solid;
    border-width: 3px;
}