<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Entropy</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" rel="stylesheet">
    <link href="/resources/css/common.css" rel="stylesheet">
    <link href="/resources/css/color.css" rel="stylesheet">
</head>
<body>
<div class="container-lg">
    <div class="row response-info border-color-response color-response" id="response-info">
        <div class="col col-lg-12"><span id="text-response"></span></div>
    </div>
</div>
<form id="automatic-form" class="container-lg" enctype="application/x-www-form-urlencoded">
    <div class="row market-info price">
      <div class="col col-sm-3"><span class="text-symbol"></span></div>
      <div class="col col-md"><span id="text-price"></span></div>
    </div>

    <div class="row auto-sell-item trade-item">
        <div class="col-sm-3 col"><label class="col-form-label" for="custom-unit-price">호가 단위</label></div>
        <div class="col col-lg">
            <div class="input-group">
                <input class="form-control" id="custom-unit-price" name="custom-unit-price" type="number" th:value="${unitPrice}">
                <span class="input-group-text" th:text="${tradeCurrency}">tradeCurrency</span>
            </div>
        </div>
    </div>

    <div class="row auto-sell-header border-color-sell color-sell">
        <div class="col col-lg-12">자동 매도 설정</div>
    </div>

    <div class="row auto-sell-item trade-item">
        <div class="col-sm-3 col"><label class="col-form-label" for="spread-window">호가 폭</label></div>
        <div class="col col-lg">
            <div class="input-group">
                <input class="form-control" id="spread-window" name="spread-window" type="number">
            </div>

        </div>
    </div>

    <div class="row auto-sell-item trade-item">
        <div class="col-sm-3 col"><label class="col-form-label" for="sell-inflation-count">단위 호가 수 설정</label></div>
        <div class="col col-lg">
            <div class="input-group">
                <input class="form-control" id="sell-inflation-count" name="sell-inflation-count" type="number">
                <span class="input-group-text">개</span>
            </div>

        </div>
    </div>
    <div class="row auto-sell-item trade-item">
        <div class="col-sm-3 col"><label class="col-form-label" for="sell-volume-range-from">주문 수량 범위 설정</label></div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="sell-volume-range-from" name="sell-volume-range-from" type="number">
            </div>
        </div>
        <div class="col splitter">
            <span>-</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="sell-volume-range-to" name="sell-volume-range-to" type="number">
                <span class="input-group-text text-symbol"></span>
            </div>
        </div>
    </div>
    <div class="row auto-sell-item trade-item">
        <div class="col-sm-3 col"><label class="col-form-label" for="sell-division-from">분할주문 / 재주문 설정</label></div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="sell-division-from" name="sell-division-from" type="number">
            </div>
        </div>
        <div class="col splitter">
            <span>-</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="sell-division-to" name="sell-division-to" type="number">
                <span class="input-group-text">개</span>
            </div>
        </div>
        <div class="col splitter">
            <span>/</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="sell-division-interval" name="sell-division-interval" type="number">
                <span class="input-group-text">초</span>
            </div>
        </div>
        <div class="col splitter">
            <span>/</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="sell-division-time-from" name="sell-division-time-from" type="number">
            </div>
        </div>
        <div class="col splitter">
            <span>-</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="sell-division-time-to" name="sell-division-time-to" type="number">
                <span class="input-group-text">회</span>
            </div>
        </div>
    </div>
    <div class="row auto-sell-item trade-item">
        <!-- FIXME: Change it later -->
        <div class="col-sm-3 col"><label class="col-form-label" for="auto-sell-market-price-volume-from">반복 시장가 매도
            수량</label></div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="auto-sell-market-price-volume-from" name="auto-sell-market-price-volume-from" type="number">
            </div>
        </div>
        <div class="col splitter">
            <span>-</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="auto-sell-market-price-volume-to" name="auto-sell-market-price-volume-to" type="number">
                <span class="input-group-text">개</span>
            </div>
        </div>
        <div class="col splitter">
            <span>/</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="auto-sell-market-price-interval" name="auto-sell-market-price-interval" type="number">
                <span class="input-group-text">초</span>
            </div>
        </div>
        <div class="col splitter">
            <span>/</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="auto-sell-market-price-time-from" name="auto-sell-market-price-time-from" type="number">
            </div>
        </div>
        <div class="col splitter">
            <span>-</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="auto-sell-market-price-time-to" name="auto-sell-market-price-time-to" type="number">
                <span class="input-group-text">회</span>
            </div>
        </div>
    </div>

    <div class="row auto-buy-header border-color-buy color-buy">
        <div class="col col-lg-12">자동 매수 설정</div>
    </div>
    <div class="row auto-buy-item trade-item">
        <div class="col-sm-3 col"><label class="col-form-label" for="buy-inflation-count">단위 호가 수 설정</label></div>
        <div class="col col-lg">
            <div class="input-group">
                <input class="form-control" id="buy-inflation-count" name="buy-inflation-count" type="number">
                <span class="input-group-text">개</span>
            </div>
        </div>
    </div>
    <div class="row auto-buy-item trade-item">
        <div class="col-sm-3 col"><label class="col-form-label" for="buy-volume-range-from">주문 수량 범위 설정</label></div>
        <div class="col col-md">
            <div class="input-group">
                <input class="form-control" id="buy-volume-range-from" name="buy-volume-range-from" type="number">
            </div>
        </div>
        <div class="col splitter">
            <span>-</span>
        </div>
        <div class="col col-md">
            <div class="input-group">
                <input class="form-control" id="buy-volume-range-to" name="buy-volume-range-to" type="number">
                <span class="input-group-text text-symbol"></span>
            </div>
        </div>
    </div>
    <div class="row auto-buy-item trade-item">
        <div class="col-sm-3 col"><label class="col-form-label" for="buy-division-from">분할주문 / 재주문 설정</label></div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="buy-division-from" name="buy-division-from" type="number">
            </div>
        </div>
        <div class="col splitter">
            <span>-</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="buy-division-to" name="buy-division-to" type="number">
                <span class="input-group-text">개</span>
            </div>
        </div>
        <div class="col splitter">
            <span>/</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="buy-division-interval" name="buy-division-interval" type="number">
                <span class="input-group-text">초</span>
            </div>
        </div>
        <div class="col splitter">
            <span>/</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="buy-division-time-from" name="buy-division-time-from" type="number">
            </div>
        </div>
        <div class="col splitter">
            <span>-</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="buy-division-time-to" name="buy-division-time-to" type="number">
                <span class="input-group-text">회</span>
            </div>
        </div>
    </div>
    <div class="row auto-buy-item trade-item">
        <!-- FIXME: Change it later -->
        <div class="col-sm-3 col"><label class="col-form-label" for="auto-buy-market-price-volume-from">반복 시장가 매도 수량</label></div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="auto-buy-market-price-volume-from" name="auto-buy-market-price-volume-from" type="number">
            </div>
        </div>
        <div class="col splitter">
            <span>-</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="auto-buy-market-price-volume-to" name="auto-buy-market-price-volume-to" type="number">
                <span class="input-group-text">개</span>
            </div>
        </div>
        <div class="col splitter">
            <span>/</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="auto-buy-market-price-interval" name="auto-buy-market-price-interval" type="number">
                <span class="input-group-text">초</span>
            </div>
        </div>
        <div class="col splitter">
            <span>/</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="auto-buy-market-price-time-from" name="auto-buy-market-price-time-from" type="number">
            </div>

        </div>
        <div class="col splitter">
            <span>-</span>
        </div>
        <div class="col col-sm">
            <div class="input-group">
                <input class="form-control" id="auto-buy-market-price-time-to" name="auto-buy-market-price-time-to" type="number">
                <span class="input-group-text">회</span>
            </div>
        </div>
    </div>
    <input type="hidden" id="market" name="market" th:value="${market}">

    <div class="row trade-item">
        <button id="btn-start-automatic-trade" class="btn" type="submit">시작하기</button>
    </div>
    <div class="row trade-item">
        <button id="btn-stop-automatic-trade" class="btn" type="reset">중단하기</button>
    </div>
</form>

<div class="container-lg" id="manual-form">
    <div class="row manual-trade-header">
        <div class="col col-lg-12">수동 매매 설정</div>
    </div>
    <form id="manual-sell-form">
        <div class="row trade-item">
            <div class="col-sm-3 col"><label class="col-form-label" for="manual-sell-volume-range-from"><span
                    class="color-sell">매도</span> 현재가 주문 설정</label></div>
            <div class="col col-md">
                <div class="input-group">
                    <input class="form-control" id="manual-sell-volume-range-from" name="manual-volume-range-from"
                           type="number">
                </div>
            </div>
            <div class="col splitter">
                <span>-</span>
            </div>
            <div class="col col-md">
                <div class="input-group">
                    <input class="form-control" id="manual-sell-volume-range-to" name="manual-volume-range-to"
                           type="number">
                    <span class="input-group-text text-symbol"></span>
                </div>
            </div>
        </div>
        <div class="row trade-item">
            <div class="col-sm-3 col"><label class="col-form-label" for="manual-sell-volume-division-from"><span
                    class="color-sell">매도</span> 분할 수</label></div>
            <div class="col col-md">
                <div class="input-group">
                    <input class="form-control" id="manual-sell-volume-division-from" name="manual-volume-division-from"
                           type="number">
                </div>
            </div>
            <div class="col splitter">
                <span>-</span>
            </div>
            <div class="col col-md">
                <div class="input-group">
                    <input class="form-control" id="manual-sell-volume-division-to" name="manual-volume-division-to"
                           type="number">
                    <span class="input-group-text">회</span>
                </div>
            </div>
        </div>
        <input name="order-position" type="hidden" value="SELL">
        <input name="market" type="hidden" th:value="${market}">
    </form>

    <form id="manual-buy-form">
        <div class="row trade-item">
            <div class="col-sm-3 col"><label class="col-form-label" for="manual-buy-volume-range-from"><span
                    class="color-buy">매수</span> 현재가 주문 설정</label></div>
            <div class="col col-md">
                <div class="input-group">
                    <input class="form-control" id="manual-buy-volume-range-from" name="manual-volume-range-from"
                           type="number">
                </div>
            </div>
            <div class="col splitter">
                <span>-</span>
            </div>
            <div class="col col-md">
                <div class="input-group">
                    <input class="form-control" id="manual-buy-volume-range-to" name="manual-volume-range-to"
                           type="number">
                    <span class="input-group-text text-symbol"></span>
                </div>
            </div>
        </div>
        <div class="row trade-item">
            <div class="col-sm-3 col"><label class="col-form-label" for="manual-buy-volume-division-from"><span
                    class="color-buy">매수</span> 분할 수</label></div>
            <div class="col col-md">
                <div class="input-group">
                    <input class="form-control" id="manual-buy-volume-division-from" name="manual-volume-division-from"
                           type="number">
                </div>
            </div>
            <div class="col splitter">
                <span>-</span>
            </div>
            <div class="col col-md">
                <div class="input-group">
                    <input class="form-control" id="manual-buy-volume-division-to" name="manual-volume-division-to"
                           type="number">
                    <span class="input-group-text">회</span>
                </div>
            </div>
        </div>
        <input name="order-position" type="hidden" value="BUY">
        <input name="market" type="hidden" th:value="${market}">
    </form>
    <div class="row trade-item">
        <button class="border-color-sell bg-color-sell color-sell btn" id="btn-manual-sell-start" type="button">시장 매도 하기</button>
    </div>
    <div class="row trade-item">
        <button class="border-color-buy bg-color-buy color-buy btn" id="btn-manual-buy-start" type="button">시장 매수 하기</button>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/js/serialize-form.js"></script>
<script type="text/javascript" src="/resources/js/automatic-form.js"></script>
<script type="text/javascript" src="/resources/js/manual-form.js"></script>
<script type="text/javascript" src="/resources/js/subscribe-price.js"></script>
</body>
</html>